<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <!--Bootstrap https://getbootstrap.com/docs/5.3/getting-started/download/-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<!--Icons from Font Awesome-->
<script src="https://kit.fontawesome.com/a56b22975c.js" crossorigin="anonymous"></script>
<link href="static/styles.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comme:wght@100;200&family=Foldit:wght@500&family=Poppins:wght@200;400&display=swap" rel="stylesheet">
<!-- The emoji graphics are from the open-source project Twemoji. The graphics are copyrighted 2020 Twitter, Inc, and other contributors. -->
    <!-- Emoji created by John Sorrentino and is available: https://favicon.io/emoji-favicons/shuffle-tracks-button/ -->
    <!-- License: https://creativecommons.org/licenses/by/4.0/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
<body>
 <%- include('./partials/nav.ejs') %>

<h1 class="text-center mt-3">🚀 Your Dashboard 🚀</h1>
<div class="justify-content-center text-center rounded shadow p-3 m-2" style="background-color:rgb(6, 18, 37); color: white;">
  <h1 class="title">Your Stats</h1>

  <% if (questions.length > 4) { %>
    <% questions.forEach(question => { %>
      <h3 style="color: green"><%= question %></h3>
    <% }) %>
  <% } else { %>
    <p>Nothing to see here</p>
  <% } %>


  <div class="grid text-center" style="--bs-gap: .25rem 1rem;">
    <div class="snippet"><b>Total Questions asked: </b> <%= questions %> </div>
    <div class="g-col-6"><b>Total Questions answered:</b> 0</div>
  
    <div class="g-col-6">Current Score: 0</div>
    <div class="g-col-6">Average Score: 0</div>



</div>
<hr>
<h3>Quiz of the Day</h3>
<div class="d-flex justify-content-center">

  <form style="background-color:rgb(6, 18, 37); color: white;" class="p-3 rounded shadow" method="post" action="https://sheetdb.io/api/v1/78uve0w4nrmgo?sheet=users">
    <div class="mb-3">
      <p>Question will go here</p>
    </div>
    <label>Choose the correct answer</label>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="option1">
      <label class="form-check-label" for="exampleCheck1">Placeholder for one</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="option2">
      <label class="form-check-label" for="exampleCheck1">Another placeholder</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="option3">
      <label class="form-check-label" for="exampleCheck1">Yet another</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="option4">
      <label class="form-check-label" for="exampleCheck1">Last One</label>
    </div>
    <button type="submit" class="btn btn-light">Submit</button>
  </form>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="d-flex justify-content-center">
    <form id="quizForm" style="background-color:rgb(6, 18, 37); color: white;" class="p-3 rounded shadow">
      <h3 class="text-center">Get More Practice</h3>
      <div class="d-flex justify-content-center">
      <img class="img-fluid text-center rounded shadow mb-3" src="owl.jpg" style="height: 200px; width: auto;">  
    </div>

      <div class="mb-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Pick a topic, choose your own adventure</option>
        <option value="oop">OOP</option>
        <option value="callbacks">Callbacks</option>
        <option value="closures">Closures</option>
        <option value="recursion">Recursion</option>
        <option value="async">Asynchronous</option>
      </select>
    </div>
    <div id="difficulty level" class="form-text text-center mb-2" style="color: white;">Up for a challenge?</div>
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Choose your level of difficulty</option>
        <option value="easy">Easy</option>
        <option value="moderate">Moderate</option>
        <option value="difficult">Difficult</option>
      </select>
    </div>
    <div id="difficulty level" class="form-text text-center mb-2" style="color: white;">Alright! 🙌</div>
    <div class="d-flex justify-content-center">

      <button id="getQuestions" type="submit" class="btn btn-light">Test my knowledge</button>
    </div>
    </form>
    </div>
    </div>
    <div class="justify-content-center text-center rounded shadow m-3" style="background-color:rgb(6, 18, 37); color: white;" id="knowledge">
      <h2 class="knowledgeTitle">Choose your own adventure</h2>
      
      <!-- <p>When you select the questions you want to study your options will be displayed below</p> -->
    </br>
      <div id="dataContainer" class="m-2"></div>
  
      </div>
      <div class="modal-body">
        <h2 class="fs-5">Popover in a modal</h2>
        <p>This <button class="btn btn-secondary" data-bs-toggle="popover" title="Popover title" data-bs-content="Popover body content is set in this attribute.">button</button> triggers a popover on click.</p>
        <hr>
        <h2 class="fs-5">Tooltips in a modal</h2>
        <p><a href="#" data-bs-toggle="tooltip" title="Tooltip">This link</a> and <a href="#" data-bs-toggle="tooltip" title="Tooltip">that link</a> have tooltips on hover.</p>
      </div>

<%- include('./partials/footer.ejs') %>

<script>
  let counter = 0
  const onlyOnce = document.getElementById('getQuestions')
  const container = document.getElementById('dataContainer')
  onlyOnce.addEventListener('submit', () => {
      counter++
      if (counter > 1){
        container.textContent = "Loading more questions"
      }
  });
  const form = document.getElementById('quizForm');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    try {
      const response = await fetch('https://sheetdb.io/api/v1/78uve0w4nrmgo')
      const data = await response.json()
      console.log(data.id)
      const userData = []
      const username = "poppy"
      if (data.includes(username)){
        userData.push(data.username)
        console.log(userData)
      }
      data.forEach((row, index) => {
        console.log(`Row number: ${index}`)
        const paragraph = document.createElement('p')
        const button = document.createElement('button')

        paragraph.setAttribute('style', 'display: block;')
        paragraph.setAttribute('class', 'mb-2')
        paragraph.textContent = JSON.stringify(row.question)

        button.setAttribute('class', 'btn btn-light ms-4 mb-2')
        button.setAttribute('id', index + 1)
        button.textContent = "Try"

        button.addEventListener('click', () => {
          alert(button.id)
        })

        container.appendChild(paragraph)
        paragraph.appendChild(button)
     
      })
    }
    catch (error){
      console.log('Error fetching data: ', error)
    }
  });

  function getForm(dataRow){

  }
</script>
</body>
<script src="static/dashboard.js"></script>
</html>